<!DOCTYPE html>
<html>
<head>
    <title>Search Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
        
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    
    <!-- Add Bootstrap JS (Popper.js and Bootstrap JS) -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <style>

        .short-select100 {
            width: 100px; /* Adjust this value to set the desired width */
        }
        .short-select150 {
            width: 150px; /* Adjust this value to set the desired width */
        }
        .short-select190 {
            width: 190px; /* Adjust this value to set the desired width */
        }
    </style>

<style>
    .btn-icon {
        background-color: transparent;
        border: none;
    }
</style>


<!--
    <script>
        // Disable browser back keys
        history.pushState(null, null, location.href);
        window.onpopstate = function () {
            history.go(1);
        };
    </script>
-->



</head>
<body>

<!-- Open Modal Manual Process -->
                <button type="button" class="btn-icon" data-bs-toggle="modal" data-bs-target="#manual_process" aria-expanded="false" aria-controls="Add Mapping" data-bs-toggle="tooltip" data-bs-placement="top" title="Manual Process">
                <img src="/static/svg/journal-code.svg" alt="Add" class="bi bi-journal-code" />
                </button>

<!-- Modal Manual Process -->
    <div class="modal fade" id="manual_process" data-bs-backdrop="static" data-bs-keyboard="false"  aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Manual Process</h5>
                    <!-- <h5 class="modal-title" id="staticBackdropLabel">Processing {{ row[4] }} Floor, IDRox :{{ row[0] }}</h5> -->
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">

                    <form method="POST" action="/process_manual">
    
                        <div class="card card-body">


                            <div class="col-sm d-flex flex-column align-items-center justify-content-center">
                                <div class="row g-2">

                                    <div class="col-sm">
                                        <div class="form-floating mb-3">    
                                            <input type="text" class="form-control short-select150" id="floatingInput" value="" >
                                            <label class="text-danger short-select150" for="floatingInput">Host 10.16.0.</label>
                                        </div>
                                    </div>

                                    <div class="col-sm">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control short-select150" id="floatingInput"  >
                                            <label class="text-danger short-select150" for="floatingInput">Interface</label>
                                        </div>
                                    </div>

                                </div>
                            </div>



                            <div class="col-sm d-flex flex-column align-items-center justify-content-center">
                                <div class="row g-2">

                                    <div class="col-sm">
                                        <div class="form-floating mb-3">    
                                            <div class="form-floating mb-3 d-flex flex-fill">
                                                <!--{% if resultsVLAN %} -->
                                                    <select class="form-select short-select190 flex-fill" id="select_Vlan_manual" aria-label="Floating label select">
                                                        <option selected>Select VLAN</option>

                                                        <option value="000">000 - Custom</option>
                                                        <option value="64">64 - Core</option>
                                                        <option value="68">68 - Paypal</option>
                                                        <option value="72">72 - DHLT</option>
                                                        <option value="80">80 - Sprint</option>
                                                        <option value="108">108 - Sprint2</option>
                                                        <option value="116">116 - Arria</option>

                                                    <!-- 
                                                        {% for row in resultsVLAN %}
                                                           <option value="1">{{row[1]}} - {{row[2]}}</option>
                                                        {% endfor %} 
                                                    -->

                                                    </select>
                                                <!-- {% endif %} -->
                                                <label class="text-danger" for="select_Vlan">Select VLAN</label>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-sm">
                                        <div class="form-floating mb-3">
                                            <input type="number" id="VLANCustom_manual" name="VLANCustom_xxxxx" class="form-control short-select100" min="0" max="4095" readonly />
                                        </div>
                                    </div>

                                </div>
                            </div>



                            <div class="col-sm d-flex flex-column align-items-center justify-content-center">
                                <div class="row g-2">

                                    <div class="col-sm">
                                        <div class="form-floating mb-3">    
                                            <div class="form-floating mb-3 d-flex flex-fill">
                                            <!--{% if resultsVoice %} -->
                                                <select class="form-select short-select190 flex-fill" id="select_Voice_manual" aria-label="Floating label select">
                                                    <option selected>Select Voice</option>
                                                    <option value="000">000 - Custom</option>
                                                    <option value="4">4 - Core</option>
                                                    <option value="12">12 - Sprint</option>
                                                    <option value="16">16 - Sprint</option>
                                                    <option value="24">24 - Sprint</option>

                                                <!--{% for row in resultsVoice %} 
                                                        <option value="{{ row[1] }}">{{row[1]}} - {{row[2]}}</option>
                                                    {% endfor %} 
                                                -->

                                                </select>
                                            <!-- {% endif %} -->
                                                <label class="text-danger"  for="select_Voice">Select Voice</label>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-sm">
                                        <div class="form-floating mb-3">
                                            <input type="number" id="VoiceCustom_manual" name="VoiceCustom" class="form-control short-select100" min="0" max="4095" readonly />
                                        </div>
                                    </div>

                                </div>
                            </div>



                            <div class="row g-2 justify-content-center">
                                <div class="col-sm d-flex flex-column align-items-center justify-content-center">
                                    <div class="col">
                                        <button type="submit" id="submitBtn2_manual" class="btn btn-primary btn-block" disabled>Submit</button>
                                    </div>
                                </div>
                            </div>



                        </div> <!-- class="card card-body" -->

                    </form>


                </div>
            </div>
        </div>
    </div>

<!-- VLAN Script -->
    <script>
        function selectFunc_VLANmanual() {
            var selectedValueManualVLAN = document.getElementById("select_Vlan_manual").value;
            var VLANCustom_manual = document.getElementById("VLANCustom_manual");
            VLANCustom_manual.value = selectedValueManualVLAN;
            var button = document.getElementById("submitBtn2_manual"); // Corrected button ID
            button.disabled = false; // Enable the submit button when a value is selected

            // Check if the selected value is "000" (Custom)
            if (selectedValueManualVLAN === "000") {
                VLANCustom_manual.readOnly = false; // Make the input editable
                VLANCustom_manual.value = ""; // Clear the value
                VLANCustom_manual.focus(); // Set the focus to the input element
            } else {
                VLANCustom_manual.readOnly = true; // Make the input readonly
            }
        }

        document.getElementById("select_Vlan_manual").addEventListener("change", selectFunc_VLANmanual);
    </script>


<!-- Voice Script -->
    <script>
        function selectFunc_Voicemanual() {
            var selectedValueManualVoice = document.getElementById("select_Voice_manual").value;
            var VoiceCustom_manual = document.getElementById("VoiceCustom_manual");
            VoiceCustom_manual.value = selectedValueManualVoice;
            var button = document.getElementById("submitBtn2_manual"); // Corrected button ID
            button.disabled = false; // Enable the submit button when a value is selected

            // Check if the selected value is "000" (Custom)
            if (selectedValueManualVoice === "000") {
                VoiceCustom_manual.readOnly = false; // Make the input editable
                VoiceCustom_manual.value = ""; // Clear the value
                VoiceCustom_manual.focus(); // Set the focus to the input element
            } else {
                VoiceCustom_manual.readOnly = true; // Make the input readonly
            }
        }

        document.getElementById("select_Voice_manual").addEventListener("change", selectFunc_Voicemanual);
    </script>





</body>
</html>
