<!DOCTYPE html>
<html>
<head>
    <title>Search Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
        
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    
    <!-- Add Bootstrap JS (Popper.js and Bootstrap JS) -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <style>

        .short-select100 {
            width: 100px; /* Adjust this value to set the desired width */
        }
        .short-select150 {
            width: 150px; /* Adjust this value to set the desired width */
        }
        .short-select190 {
            width: 190px; /* Adjust this value to set the desired width */
        }
    </style>

<style>
    .btn-icon {
        background-color: transparent;
        border: none;
    }
</style>


<!--
    <script>
        // Disable browser back keys
        history.pushState(null, null, location.href);
        window.onpopstate = function () {
            history.go(1);
        };
    </script>
-->



</head>
<body>
    <div class="container">
            {% if loginU_var %}
            Logged in as: {{ loginU_var }}
        {% endif %}
    </div>

<div class="container">

        <nav class="navbar navbar-light bg-light">
          <div class="container-fluid">

            <a class="navbar-brand h1" href="#">
            <img src="/static/svg/acosta.png" alt=""  height="30" class="d-inline-block align-text-top">

            <h3>NetScout<small class="text-muted"> Mate</small></h3>
            </a>

          </div>
        </nav>

        <nav class="navbar navbar-light bg-light">
          <div class="container-fluid">

            <form class="d-flex" method="POST" action="/search" >
              <input class="form-control me-2" type="search" required placeholder="Search" aria-label="Search" id="station" name="station" {% if station %} value="{{ station }}" {% endif %}>
              <button class="btn btn-outline-success" type="submit">Search</button>

                {% if loginU_var %}
                <input type="hidden" name="loginU_var" value="{{ loginU_var }}">
                {% endif %}

            </form>

          </div>
        </nav>


</div>


    <div class="container">
<!-- Open Modal Manual Process -->
                <button type="button" class="btn-icon" data-bs-toggle="modal" data-bs-target="#manual_process" aria-expanded="false" aria-controls="Add Mapping" data-bs-toggle="tooltip" data-bs-placement="top" title="Manual Process">
                <img src="/static/svg/journal-code.svg" alt="Add" class="bi bi-journal-code" />
                </button>

<!-- Open Modal Add New Mapping -->
                <button type="button" class="btn-icon" data-bs-toggle="modal" data-bs-target="#add_mapping" aria-expanded="false" aria-controls="Add Mapping" data-bs-toggle="tooltip" data-bs-placement="top" title="Add New Mapping">
                <img src="/static/svg/plus-circle.svg" alt="Add" class="bi bi-plus-circle" />
                </button>
    </div>




    <div class="container">
        
<!-- Modal Manual Process -->
    <div class="modal fade" id="manual_process" data-bs-backdrop="static" data-bs-keyboard="false"  aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Manual Process</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">

                    <form method="POST" action="/process_manual">
                        <div class="d-grid gap-2 col-10 mx-auto">

                            <div class="row g-2">
                                <div class="col-sm">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingInput" value="10.16.0." >
                                        <label for="floatingInput">Host</label>
                                    </div>
                                </div>

                                <div class="col-sm">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingInput"  >
                                        <label for="floatingInput">Interface</label>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="card card-body">
                            <div class="form-floating">

                                <div class="card card-body">
                                    <div class="form-floating">
                                        <div class="row g-2 justify-content-center"> <!-- Added justify-content-center -->

                                            <div class="col-sm d-flex flex-column align-items-center justify-content-center">
                                                <div class="form-floating mb-3">
                                                    {% if resultsVLAN %}  
                                                        <select class="form-select short-select" id="select_Vlan_manual" aria-label="Floating label select">
                                                            <option selected>Select VLAN</option>
                                                            {% for row in resultsVLAN %}
                                                                <option value="{{ row[1] }}">{{row[1]}} - {{row[2]}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    {% endif %}
                                                    <label for="select_Vlan">Select VLAN</label>
                                                    <input type="number" id="VLANCustom_manual" name="VLANCustom" class="form-control short-select" min="0" max="4095" readonly />
                                                </div>

                                                <div class="col">
                                                    <button type="submit" id="submitButton_manual2" class="btn btn-primary btn-block" disabled>Change VLAN</button>
                                                </div>
                                            
                                            </div>

                                            <div class="col-sm d-flex flex-column align-items-center justify-content-center">
                                                <div class="form-floating mb-3">
                                                    {% if resultsVoice %}  
                                                        <select class="form-select short-select" id="select_Vlan_manual_2" aria-label="Floating label select">
                                                            <option selected>Select Voice</option>
                                                            {% for row in resultsVoice %}
                                                                <option value="{{ row[1] }}">{{row[1]}} - {{row[2]}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    {% endif %}
                                                    <label for="select_Voice_2">Select Voice</label>
                                                    <input type="number" id="VLANCustom_manual_2" name="VLANCustom_2" class="form-control short-select" min="0" max="4095" readonly />
                                                
                                                </div>

                                                <div class="col">
                                                    <button type="submit" id="submitButton_manual3" class="btn btn-primary" disabled>Change Voice</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                            <div class="col-sm d-flex flex-column align-items-center justify-content-center">
                                <div class="col">
                                    <button type="submit" id="submitButton_manual1" class="btn btn-primary" disabled>Clear Port</button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
<!-- Modal Manual Process -->
    <script>
        function selectFunc_manual() {
            var selectedValue = document.getElementById("select_Vlan_manual").value;
            document.getElementById("VLANCustom_manual").value = selectedValue;
            var button = document.getElementById("submitButton_manual2");

            if (selectedValue === "000") {
                document.getElementById("VLANCustom_manual").readOnly = false;

                if (document.getElementById("VLANCustom_manual").value === "") {
                    button.disabled = true;
                } else {
                    button.disabled = false;
                }
            } else {
                document.getElementById("VLANCustom_manual").readOnly = true;
                button.disabled = false;
            }

            // Toggle button class between btn-secondary and btn-primary
            if (button.disabled) {
                button.classList.remove("btn-primary");
                button.classList.add("btn-secondary");
            } else {
                button.classList.remove("btn-secondary");
                button.classList.add("btn-primary");
            }
        }

        document.getElementById("select_Vlan_manual").addEventListener("change", selectFunc_manual);
    </script>
<!-- Modal Manual Process -->



<!-- Modal Add Mapping id="add_mapping"-->

</div>

<div class="container">





{% if results %}

        <h3>Search <small class="text-muted">Result</small></h3>
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th width="35px">Upd</th>                   
                    <th width="40px">Floor</th>                   
                    <th width="45px">idrow</th>                   
                    <th>Station</th>
                    <th>Port</th>
                    <th>Interface</th>
                    <th>Location</th>

                </tr>
            </thead>
            <tbody>






{% for row in results %}
<!-- ROW -->                
            <tr>
                <td>
                    <button type="button" class="btn-icon" data-bs-toggle="modal" data-bs-target="#update__{{ row[0] }}" aria-expanded="false" aria-controls="change_Vlan">
                        <img src="/static/svg/pencil.svg" alt="Add" class="bi bi-pencil"/>
                    </button>
                </td>

                <td><!-- FLOOR -->
                    <a href="#" data-bs-toggle="modal" data-bs-target="#{{ row[0] }}">{{ row[4] }}</a>
                </td>

                <td><!-- FLOOR -->
                    <a href="#" data-bs-toggle="modal" data-bs-target="#showRow_{{ row[0] }}">{{ row[0] }}</a>
                </td>

                
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>                      
                <td>{{ row[6] }}</td>
            </tr>


<!-- Modal 1 Update Mapping -->
            <div class="modal fade" id="update__{{ row[0] }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">UPDATE {{ row[0] }}</h5>
                    
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>

                  <div class="modal-body">

                        <!-- To Process View-->
                        <div class="d-grid gap-2 col-10 mx-auto">
                    <!-- Row 1 -->
                            <div class="row g-2">
                                <div class="col-sm">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingInput" value="{{ row[0] }}" readonly>
                                        <label for="floatingInput">IDRow</label>
                                    </div>
                                </div>

                                <div class="col-sm">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingInput" value="{{ row[4] }}" readonly>
                                        <label for="floatingInput">Floor</label>
                                    </div>
                                </div>

                                <div class="col-sm">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingInput" value="{{ row[1] }}" readonly>
                                        <label for="floatingInput">Station</label>
                                    </div>
                                </div>
                            </div>
                    <!-- Row 2 -->
                            <div class="row g-2">
                                <div class="col-sm">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingInput" value="10.16.0.{{ row[2] }}" >
                                        <label for="floatingInput">Host</label>
                                    </div>
                                </div>

                                <div class="col-sm">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingInput" value="{{ row[3] }}" >
                                        <label for="floatingInput">Interface</label>
                                    </div>
                                </div>
                            </div>
                    <!-- Row 3 -->
                            <div class="row g-2">
                                <div class="col-sm">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingInput" value="{{ row[6] }}" >
                                        <label for="floatingInput">Location</label>
                                    </div>
                                </div>
                            </div>
                        </div>                          
                        
                        <form method="POST" action="/process_modal_form1">

                            <input type="hidden" name="floor" value="{{ row[4] }}">
                            <input type="hidden" name="idrow" value="{{ row[0] }}">
                            <input type="hidden" name="station" value="{{ row[1] }}">
                            <input type="hidden" name="port" value="{{ row[2] }}">
                            <input type="hidden" name="interface" value="{{ row[3] }}">
                            <input type="hidden" name="location" value="{{ row[6] }}">
                            <input type="hidden" name="loginU_var" value="{{ loginU_var }}">
     
                            <div class="modal-footer">
                                <div class="d-grid gap-2 col-6 mx-auto">
                                    <button type="submit" class="btn btn-primary"  style="float: Right;">UPDATE RECORD</button>
                                </div>
                            </div>

                        </form>
                  </div>

                </div>
              </div>
            </div>
<!-- Modal 1 Update Mapping -->



<!-- Modal Clear Port -->
                <div class="modal fade" id="showRow_{{ row[0] }}" data-bs-backdrop="static" data-bs-keyboard="false"  aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Show Row Modal {{ row[0] }}</h5>
                        
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>

                    <div class="modal-body">

                    <!-- To Process View-->
                        <div class="d-grid gap-2 col-10 mx-auto">
                    <!-- Row 1 -->
                            <div class="row g-2">
                                <div class="col-sm">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingInput" value="{{ row[0] }}" readonly>
                                        <label for="floatingInput">IDRow</label>
                                    </div>
                                </div>

                                <div class="col-sm">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingInput" value="{{ row[4] }}" readonly>
                                        <label for="floatingInput">Floor</label>
                                    </div>
                                </div>

                                <div class="col-sm">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingInput" value="{{ row[1] }}" readonly>
                                        <label for="floatingInput">Station</label>
                                    </div>
                                </div>
                            </div>
                    <!-- Row 2 -->
                            <div class="row g-2">
                                <div class="col-sm">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingInput" value="10.16.0.{{ row[2] }}" readonly>
                                        <label for="floatingInput">Host</label>
                                    </div>
                                </div>

                                <div class="col-sm">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingInput" value="{{ row[3] }}" readonly>
                                        <label for="floatingInput">Interface</label>
                                    </div>
                                </div>
                            </div>
                    <!-- Row 3 -->
                            <div class="row g-2">
                                <div class="col-sm">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingInput" value="{{ row[6] }}" readonly>
                                        <label for="floatingInput">Location</label>
                                    </div>
                                </div>
                            </div>
                        </div>                          
                        
                        <form method="POST" action="/process_modal_form1">

                            <input type="hidden" name="floor" value="{{ row[4] }}">
                            <input type="hidden" name="idrow" value="{{ row[0] }}">
                            <input type="hidden" name="station" value="{{ row[1] }}">
                            <input type="hidden" name="port" value="{{ row[2] }}">
                            <input type="hidden" name="interface" value="{{ row[3] }}">
                            <input type="hidden" name="location" value="{{ row[6] }}">
                            <input type="hidden" name="loginU_var" value="{{ loginU_var }}">
     

                            <div class="card card-body">
                            <div class="form-floating">

                                <div class="card card-body">
                                    <div class="form-floating">
                                        <div class="row g-2 justify-content-center"> <!-- Added justify-content-center -->

                                            <div class="col-sm d-flex flex-column align-items-center justify-content-center">
                                                <div class="form-floating mb-3">
                                                    {% if resultsVLAN %}  
                                                        <select class="form-select short-select" id="select_Vlan_manual" aria-label="Floating label select">
                                                            <option selected>Select VLAN</option>
                                                            {% for row in resultsVLAN %}
                                                                <option value="{{ row[1] }}">{{row[1]}} - {{row[2]}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    {% endif %}
                                                    <label for="select_Vlan">Select VLAN</label>
                                                    <input type="number" id="VLANCustom_manual" name="VLANCustom" class="form-control short-select" min="0" max="4095" readonly />
                                                </div>

                                                    <div class="col">
                                                        <button type="submit" id="submitButton_manual2" class="btn btn-primary btn-block" disabled>Change VLAN</button>
                                                    </div>
                                                
                                            </div>

                                            <div class="col-sm d-flex flex-column align-items-center justify-content-center">
                                                <div class="form-floating mb-3">
                                                    {% if resultsVoice %}  
                                                        <select class="form-select short-select" id="select_Vlan_manual_2" aria-label="Floating label select">
                                                            <option selected>Select Voice</option>
                                                            {% for row in resultsVoice %}
                                                                <option value="{{ row[1] }}">{{row[1]}} - {{row[2]}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    {% endif %}
                                                    <label for="select_Voice_2">Select Voice</label>
                                                    <input type="number" id="VLANCustom_manual_2" name="VLANCustom_2" class="form-control short-select" min="0" max="4095" readonly />
                                                
                                                </div>

                                                    <div class="col">
                                                        <button type="submit" id="submitButton_manual3" class="btn btn-primary" disabled>Change Voice</button>
                                                    </div>
                                                
                                            </div>

                                        </div>
                                    </div>

                                </div>

 
                                    <div class="modal-footer">
                                        <div class="d-grid gap-2 col-6 mx-auto">
                                             <button type="submit" id="submitButton_manual1" class="btn btn-primary" disabled>111Clear Port111</button>

                                        </div>
                                    </div>


                                </div>




                            </div>

                                

                        </form>
                    </div>











                    </div>
                  </div>
                </div>

                <script>
                    function selectFunc_manual() {
                        var selectedValue = document.getElementById("select_Vlan_manual").value;
                        document.getElementById("VLANCustom_manual").value = selectedValue;
                        var button = document.getElementById("submitButton_manual2");

                        if (selectedValue === "000") {
                            document.getElementById("VLANCustom_manual").readOnly = false;

                            if (document.getElementById("VLANCustom_manual").value === "") {
                                button.disabled = true;
                            } else {
                                button.disabled = false;
                            }
                        } else {
                            document.getElementById("VLANCustom_manual").readOnly = true;
                            button.disabled = false;
                        }

                        // Toggle button class between btn-secondary and btn-primary
                        if (button.disabled) {
                            button.classList.remove("btn-primary");
                            button.classList.add("btn-secondary");
                        } else {
                            button.classList.remove("btn-secondary");
                            button.classList.add("btn-primary");
                        }
                    }

                    document.getElementById("select_Vlan_manual").addEventListener("change", selectFunc_manual);
                </script>
<!-- Modal Clear Port -->













<!-- Modal 1 Clear Port-->
            <div class="modal fade" id="{{ row[0] }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">1To Process...</h5>
                    
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>

                  <div class="modal-body">
                        <!-- To Process View-->

                        <div class="d-grid gap-2 col-10 mx-auto">
                    <!-- Row 1 -->
                            <div class="row g-2">
                                <div class="col-sm">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingInput" value="{{ row[0] }}" readonly>
                                        <label for="floatingInput">IDRow</label>
                                    </div>
                                </div>

                                <div class="col-sm">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingInput" value="{{ row[4] }}" readonly>
                                        <label for="floatingInput">Floor</label>
                                    </div>
                                </div>

                                <div class="col-sm">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingInput" value="{{ row[1] }}" readonly>
                                        <label for="floatingInput">Station</label>
                                    </div>
                                </div>
                            </div>
                    <!-- Row 2 -->
                            <div class="row g-2">
                                <div class="col-sm">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingInput" value="10.16.0.{{ row[2] }}" readonly>
                                        <label for="floatingInput">Host</label>
                                    </div>
                                </div>

                                <div class="col-sm">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingInput" value="{{ row[3] }}" readonly>
                                        <label for="floatingInput">Interface</label>
                                    </div>
                                </div>
                            </div>
                    <!-- Row 3 -->
                            <div class="row g-2">
                                <div class="col-sm">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingInput" value="{{ row[6] }}" readonly>
                                        <label for="floatingInput">Location</label>
                                    </div>
                                </div>
                            </div>
                        </div>                          
                        
                        <form method="POST" action="/process_modal_form1">

                            <input type="hidden" name="floor" value="{{ row[4] }}">
                            <input type="hidden" name="idrow" value="{{ row[0] }}">
                            <input type="hidden" name="station" value="{{ row[1] }}">
                            <input type="hidden" name="port" value="{{ row[2] }}">
                            <input type="hidden" name="interface" value="{{ row[3] }}">
                            <input type="hidden" name="location" value="{{ row[6] }}">
                            <input type="hidden" name="loginU_var" value="{{ loginU_var }}">
     


<div class="modal-footer">
    <div class="d-grid gap-2 col-6 mx-auto">
        <button type="submit" class="btn btn-primary"  style="float: Right;">Clear Port</button>
                    
        <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#vlan_{{row[0]}}" aria-expanded="false" aria-controls="change_Vlan">Change VLAN</button>

        <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#voice_{{row[0]}}" aria-expanded="false" aria-controls="change_Voice">Change Voice</button>
    </div>
</div>



                        </form>
                  </div>

                </div>
              </div>
            </div>


<!-- Modal 2 Change VLAN -->
            <div class="modal fade" id="vlan_{{ row[0] }}" data-bs-backdrop="static" data-bs-keyboard="false"  aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Process Change VLAN</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">
                            <form method="POST" action="/process_modal_form2">
                                <input type="hidden" name="floor" value="{{ row[4] }}">
                                <input type="hidden" name="idrow" value="{{ row[0] }}">
                                <input type="hidden" name="station" value="{{ row[1] }}">
                                <input type="hidden" name="port" value="{{ row[2] }}">
                                <input type="hidden" name="interface" value="{{ row[3] }}">
                                <input type="hidden" name="location" value="{{ row[6] }}">
                                <input type="hidden" name="loginU_var" value="{{ loginU_var }}">
         
                                    <div class="d-grid gap-2 col-10 mx-auto">

                                        <div class="row g-2">
                                            <div class="col-sm">
                                                <div class="form-floating mb-3">
                                                    <p class="fw-normal" style="display: inline">IDRow :<p class="fw-bold" style="display: inline">{{ row[0] }}</p></p>
                                                </div>
                                            </div>

                                            <div class="col-sm">
                                                <div class="form-floating mb-3">
                                                    <p class="fw-normal" style="display: inline">Floor :<p class="fw-bold" style="display: inline">{{ row[4] }}</p></p>
                                                </div>
                                            </div>

                                            <div class="col-sm">
                                                <div class="form-floating mb-3">
                                                    <p class="fw-normal" style="display: inline">Station :<p class="fw-bold" style="display: inline">{{ row[1] }}</p></p>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row g-2">
                                            <div class="col-sm">
                                                <div class="form-floating mb-3">
                                                    <p class="fw-normal" style="display: inline">Location :<p class="fw-bold" style="display: inline">{{ row[6] }}</p></p>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row g-2">
                                            <div class="col-sm">
                                                <div class="form-floating mb-3">
                                                    <p class="fw-normal" style="display: inline">Host :<p class="fw-bold" style="display: inline">10.16.0.{{ row[2] }}</p></p>
                                                </div>
                                            </div>

                                            <div class="col-sm">
                                                <div class="form-floating mb-3">
                                                    <p class="fw-normal" style="display: inline">Interface :<p class="fw-bold" style="display: inline">{{ row[3] }}</p></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                               



                                <div class="col-sm d-flex flex-column align-items-center justify-content-center">
                                    <div class="col">
                                        <div class="row g-2">

                                            <div class="col-md">
                                                <div class="form-floating">

                                                    {% if resultsVLAN %}  
                                                        <select class="form-select short-select" id="select_Vlan_{{ row[0] }}" aria-label="Floating label select">
                                                            <option selected>Select VLAN</option>
                                                            {% for row in resultsVLAN %}
                                                            <option value="{{ row[1] }}">{{row[1]}} - {{row[2]}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    {% endif %}
                                                        <label for="select_Vlan">Select VLAN</label>

                                                </div>
                                            </div>

                                            <div class="col-md">
                                                <div class="form-floating">
                                                    <input type="number" id="VLANCustom_{{ row[0] }}" name="VLANCustom" class="form-control short-select" min="0" max="4095" readonly />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                <p><div class="col-sm d-flex flex-column align-items-center justify-content-center">
                                    <button type="submit" id="submitButtonVLAN_{{ row[0] }}" class="btn btn-primary" disabled>Process VLAN</button>
                                </div></p> 


                            </form>

                        </div>

                    </div>
                </div>
            </div>
<!-- Modal 2 Change VLAN -->
            <script>
                function vlanselectFunc_{{ row[0] }}() {

                    var selectedValue = document.getElementById("select_Vlan_{{ row[0] }}").value;
                    document.getElementById("VLANCustom_{{ row[0] }}").value = selectedValue;

                    if (selectedValue === "000") {
                        document.getElementById("VLANCustom_{{ row[0] }}").readOnly = false;
                        alert("The VLAN value must be between 0 and 4095.");
                        document.getElementById("VLANCustom_{{ row[0] }}").value = ""
                        document.getElementById("VLANCustom_{{ row[0] }}").focus();

                        if (document.getElementById("VLANCustom_{{ row[0] }}").value === ""){
                            document.getElementById("submitButtonVLAN_{{ row[0] }}").disabled = true;
                        } else {
                            document.getElementById("submitButtonVLAN_{{ row[0] }}").disabled = false;
                        }

                    } else {
                        document.getElementById("VLANCustom_{{ row[0] }}").readOnly = true;
                        document.getElementById("submitButtonVLAN_{{ row[0] }}").disabled = false;
                    }

                    if (selectedValue === "Select VLAN") {document.getElementById("submitButtonVLAN_{{ row[0] }}").disabled = true;}
                }

                document.getElementById("select_Vlan_{{ row[0] }}").addEventListener("change", vlanselectFunc_{{ row[0] }});

                document.getElementById("VLANCustom_{{ row[0] }}").addEventListener("keyup", function(event) {
                    var key = event.keyCode;
                    var value = event.target.value;
                    if (key >= 48 && key <= 57 && value >= 0 && value <= 4095) {
                        // The key is numeric and the value is between 0 and 4095.
                        document.getElementById("submitButtonVLAN_{{ row[0] }}").disabled = false;
                    } else {
                        // The key is not numeric or the value is not between 0 and 4095.
                        alert("The value that you entered is not between 0 and 4095 or Not a Numeric Value.");
                        alert("Please Enter the VLAN ID..");
                        document.getElementById("submitButtonVLAN_{{ row[0] }}").disabled = true;
                        document.getElementById("VLANCustom_{{ row[0] }}").value = "";
                        
                  }
                });

            </script>
<!-- Modal 2 Change VLAN -->



<!-- Modal 3 Change Voice -->
            <div class="modal fade" id="voice_{{ row[0] }}" data-bs-backdrop="static" data-bs-keyboard="false"  aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">



                    </div>
                </div>
            </div>
<!-- Modal 3 Change VLAN -->
            <script>
                
            </script>
<!-- Modal 3 Change VLAN -->



{% endfor %}


            </tbody>
        </table>

{% endif %}

    </div>




    
    <!--OK Modal Message -->
    {% if ok_message %}
    <div class="modal" id="okModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Process OK</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="okMessage">{{ ok_message  }}</p>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const modal = new bootstrap.Modal(document.getElementById('okModal'));
            modal.show();
        });
    </script>

    {% endif %}




    <!--Error Modal Message -->
    {% if error_message %}
    <div class="modal" id="errorModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Error</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="errorMessage">{{ error_message  }}</p>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const modal = new bootstrap.Modal(document.getElementById('errorModal'));
            modal.show();
        });
    </script>

    {% endif %}





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>




</body>
</html>
